body {
    font-family: 'Kumbh Sans', sans-serif;
}

/* Nav */
.icon-menu {
    padding-right: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: hsl(219, 9%, 45%);
}

.nav-link:hover {
    color: hsl(220, 13%, 13%);
    font-weight: 600;
}

.left-nav, .sidebar, .right-nav {
    display: flex;
    align-items: center;
}

.cart-icon {
    padding: 0;
}

.cart-icon:hover {
    transform: scale(1.1);
}

@media (min-width: 768px) {
    ul {
        display: flex;
    }

    .icon-menu, #dismiss {
        display: none;
    }
}

@media (max-width: 767.98px) {

    .sidebar {
        display: none;
        min-width: 250px;
        max-width: 250px;
        background-color: white;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        /* top layer */
        z-index: 9999;
    }

    .sidebar.active {
        display: block;
    }

    .overlay {
        display: none;
        position: fixed;
        /* full screen */
        width: 100vw;
        height: 100vh;
        /* transparent black */
        background: rgba(0, 0, 0, 0.7);
        /* middle layer, i.e. appears below the sidebar */
        z-index: 998;
        opacity: 0.8;
        /* animate the transition */
        transition: all 0.5s ease-in-out;
    }

    /* display .overlay when it has the .active class */
    .overlay.active {
        display: block;   
    }

    #dismiss {
        width: 35px;
        height: 35px;
        /* position: absolute; */
        /* top right corner of the sidebar */
        top: 10px;
        left: 10px;
    }


}

/*  */
.nav-item .avatar img {
    width: 40px;
}

.cart-count {
    background: #FF7D19;
    color: white;
    font-size: 0.7em;
    padding: 0 5px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    right: 13px;
    bottom: 7px;
}

.avatar img:hover {
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

hr {
    margin-top: 0;
    margin-bottom: 5%;
}

@media (max-width: 767.98px) {
    hr {
        margin-bottom: 0;
    }
}


/* Images */
@media (max-width: 767.98px) {
    .col-md-6 {
        padding: 0;
    }
}

.img-large-div .img-large {
    max-width: 100%;
    object-fit: contain;
}

@media (min-width: 768px) {
    .img-large-div .img-large {
    border-radius: 3%;
    }
}


.img-large-div, .thumbnails {
    display: flex;
    justify-content: space-between;
}

.thumbnail {
    width: 20%;
    border-radius: 15%;
    margin: 5% 2%;
}

.thumbnail:hover {
    border: 2px solid hsl(26, 100%, 55%);
    opacity: 90%;
}


/* Lightbox */

.modal .img-large{
    width: 100%;
}

.modal .images {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 700px;
}

.modal .close img{   
    position: absolute;
    top: 6%;
    right: 18%;
    transition: 0.3s;
    width: 1em;
}
  
@media (max-width: 1199.98px) {
    .modal .close img {
        top: 6%;
        right: 15%;
    }
}

@media (max-width: 991.98px) {
    .modal .close img {
        top: 6%;
        right: 10%;
    }
}

.modal .close img:hover,
.modal .close img:focus {
    text-decoration: none;
    cursor: pointer;
    width: 1.1em;
}

.prev,
.next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      margin-top: -15%;
      width: auto;
      padding: 20px 25px;
      border-radius: 50%;
      transition: 0.6s ease;
      background-color: white;
  }

.prev {
    left: -4%;
}

.next {
    right: -4%;
  }

.prev:hover, .next:hover {
    transform: scale(1.1);
}

.photo .img-large-div {
    position: relative;
}

.photo .prev,
.photo .next {
    padding: 15px 20px;
    margin-top: -7%;
}

.photo .prev {
    left: 2%;
}

.photo .next {
    right: 2%;
}

@media (min-width: 768px) {
    .photo .prev, 
    .photo .next {
        display: none;
    }
}


/* Product Description */
.product-desp {
    padding: 0 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 767.98px) {
    .product-desp {
        padding: 10% 6%;
    }
}

.product-desp h4 {
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: 700;
    letter-spacing: 0.08em;
  }

.product-desp h2 {
      font-weight: 700;
      font-size: 2.5em;
      padding: 5% 0;
  }

.product-desp p {
      color: hsl(219, 9%, 45%);
      padding-bottom: 3%;
  }

.product-desp .price {
    display: inline-flex;
    align-items: center;
}

.product-desp h3 {
      font-size: 1.5em;
      font-weight: 700;
      padding-right: 3%;
  }

.product-desp .percent-off {
      background-color: hsl(25, 100%, 94%);
      width: 48px;
      height: 60%;
      padding: 3px 2px;
      border-radius: 15%;
      text-align: center;
  }

.product-desp h5 {
      color: hsl(220, 14%, 75%);
      font-size: 0.8em;
      font-weight: 700;
      text-decoration: line-through;
  }

.product-desp .btn-lg {
    height: 3.3em;
}

.product-desp #add-cart {
    background-color: hsl(26, 100%, 55%);
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 46%;
    font-size: 0.9em;
    font-weight: 700;
    border: none;
}

#add-cart:hover {
    background-color: hsl(26, 100%, 50%);
}

.product-desp .icon-cart-white {
    width: 1.4em;
    padding-right: 5px;
}

.buttons {
    padding-top: 3%;
}

.btn-group {
    padding-left: 0;
}


/* Cart */
.nav-cart {
    position: relative;
}

.cart {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 370px;
    top: 3.5em;
    left: -650%;
    box-shadow: 0 0 7px hsl(218, 21%, 82%);
    border-radius: 5%;
}

.cart-head, .cart-body {
    padding: 5%;
}

.cart-head {
    font-weight: 700;
    border-bottom: 1px solid hsl(218, 21%, 82%);
}

.cart-main img {
    width: 50px;
    height: 50px;
    border-radius: 14%;
    margin-right: 16px;
}

.cart-main .icon-delete {
    width: 12px;
    height: 13px;
    margin: 15px 0;
}

.cart-added-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cart-added-items .name-price {
    margin-right: 15px;
}

.cart-main .btn-primary {
    background-color: #FF7D19;
    border: 1px solid #f6791a;
    width: 100%;
    height: 50px;
    font-size: 0.9em;
    font-weight: 600;
    
}




  